@import url('https://fonts.googleapis.com/css?family=Lato:400,500|Oswald:400,700');

* {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 40px;
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-align: center;
}

body {
    background-image: url('../images/home_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.prompt {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    padding-bottom: 15px;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 50px;
}

textarea {
    resize: none;
    height: 300px;
    width: 90%;
    background: transparent;
    background-image: linear-gradient(to bottom right, #ffb90260, #ff006260);
    border-style: none;
    border-radius: 50px;
    padding: 10px;
}

.nextlab h2 {
    position: relative;
    top: 175px;
    font-size: 100px;
}

button {
    background: transparent;
    background-image: linear-gradient(to right, #ffb70260, #ff006260);
    padding: 20px;
    border: none;
    border-radius: 50px;
}

::placeholder{
    color: white;
}